
# - Ignore all files

**/*.*

# allow subdirectories with a dot
!**/*.*/

# - Allow some

!**/*.py
!**/*.ipynb
**/*.ipynb_checkpoints/**
!**/*.pyi
!**/*.pyx
!**/*.yaml
!**/*.env
!**/*.yml
!**/*.toml
!**/*.json
!**/*.lock
!**/*.md
!**/*.sh
!**/*.kts
!**/*.bat
!**/*.properties
!**/*.java
!**/*.proto
!**/*.cpp
!**/*.c
!**/*.h
!**/*.template
!**/*.sql
!**/*.css
!**/*.tsx
!**/*.ts
!**/*.jsx
!**/*.js
!**/*.cfg
!**/*.gpg
!**/*.txt
!**/*.lua

# - Dot files

!**/.baseline
!**/.dockerignore
!**/.gitattributes
!**/.gitignore
!**/*.airflowignore

# - Allow templates

!*.template

# - Allow requirements.txt

!**/*requirements*.txt

# allow static assets

!**/data/static/**/*

# - Git LFS

!test_git_lfs.txt
!source/python/services/discord-to-telegram-forwarder/discord_to_telegram_forwarder/send_discord_post_to_telegram/to_png_images/**

# - Custom

!source/python/environments/local_pythons
!source/python/environments/local_pythons/**/*

# - Git secret (adds new files automatically)

!.gitsecret/**/*
!*.secret
.gitsecret/keys/random_seed

!git_secret
!git_secret/**/*
git_secret/files/test_git_secret

source/other/macos-poweruser/ssh/keys/id_ed25519
source/other/macos-poweruser/ssh/keys/known_hosts
source/python/services/archive/2024-06\ family-fund/token.json
source/python/services/archive/2024-06\ family-fund/runners/token.json
source/python/services/archive/2024-06\ family-fund/credentials/client_secret.json
source/python/services/archive/2024-06\ family-fund/credentials/service_account_secret.json
source/python/services/archive/2024-06\ family-fund/credentials/token.json
source/python/services/archive/2024-06\ family-fund/family_fund/token.json
source/python/services/archive/2024-06\ family-fund/family_fund/config.yaml
source/python/services/playground/youtube-transcripts/youtube_transcripts/client_secret.json
source/python/services/playground/youtube-transcripts/youtube_transcripts/get_all_videos_with_transcripts_from_channel/client_secret.json
source/python/services/playground/youtube-transcripts/youtube_transcripts/get_all_videos_with_transcripts_from_channel/client_secret_tokens.json
source/python/services/ef-bots/ef_bots/ef_org_bot/deps/config/config.test.yaml
source/python/services/ef-bots/ef_bots/ef_org_bot/deps/config/config.prod.yaml
source/python/services/ef-bots/ef_bots/ef_threads/deps/config/config.test.yaml
source/python/services/ef-bots/ef_bots/ef_threads/deps/config/config.prod.yaml
source/python/services/playground/telethon-playground/telethon_playground/deps/config/config.test.yaml
source/python/services/simple-scheduler/simple_scheduler/deps/config/config.test.yaml
source/python/services/simple-scheduler/simple_scheduler/deps/config/config.prod.yaml
source/python/services/ef-bots/ef_bots/archive/2024-09\ ef-bots\ as\ classes/ef_org_bot/deps/config/config.test.yaml
source/python/services/ef-bots/ef_bots/archive/2024-09\ ef-bots\ as\ classes/ef_org_bot/deps/config/config.prod.yaml
source/python/services/ef-bots/ef_bots/archive/2024-09\ ef-bots\ as\ classes/ef_threads/deps/config/config.test.yaml
source/python/services/ef-bots/ef_bots/archive/2024-09\ ef-bots\ as\ classes/ef_threads/deps/config/config.prod.yaml
source/python/services/ef-bots/ef_bots/ef_threads/config/config.test.yaml
source/python/services/ef-bots/ef_bots/ef_threads/config/config.prod.yaml
source/python/services/ef-bots/ef_bots/ef_org_bot/config/config.test.yaml
source/python/services/ef-bots/ef_bots/ef_org_bot/config/config.prod.yaml
