# - Ignore all files

**/*.*

# allow subdirectories with a dot
!**/*.*/

# - Allow some

!**/*.py
!**/*.ipynb
!**/*.pyi
!**/*.pyx
!**/*.yaml
!**/*.env
!**/*.yml
!**/*.toml
!**/*.json
!**/*.lock
!**/*.md
!**/*.sh
!**/*.kts
!**/*.bat
!**/*.properties
!**/*.java
!**/*.proto
!**/*.cpp
!**/*.c
!**/*.h
!**/*.template
!**/*.sql
!**/*.css
!**/*.tsx
!**/*.ts
!**/*.jsx
!**/*.js
!**/*.cfg
!**/*.gpg
!**/*.txt
!**/*.xml
!**/*.lua

# - Dot files

!**/.baseline
!**/.dockerignore
!**/.gitattributes
!**/.gitignore
!**/*.airflowignore


# - Allow templates
!*.template

# - Allow requirements.txt
!**/*requirements*.txt

# - Forbid keywords
**/*local*
**/*secrets*

# allow templates
!**/*.template

# allow secrets baseline
!**/*secrets.baseline*

# allow static assets

!**/data/static/**/*

# - Git LFS
# ...


!test_git_lfs.txt
!source/python/services/discord-to-telegram-forwarder/discord_to_telegram_forwarder/send_discord_post_to_telegram/to_png_images/**

# - Custom
# ...

!source/python/environments/local_pythons
!source/python/environments/local_pythons/**/*

# - Git secret
!.gitsecret/**/*
!*.secret
.gitsecret/keys/random_seed

!git_secret
!git_secret/**/*
git_secret/files/test_git_secret

