telegram_api_id: ...
telegram_api_hash: ...
telegram_bot_token: ...
telegram_bot_name: ...
telegram_ef_discussions: ... # got by https://api.telegram.org/bot<BOT_TOKEN>/getUpdates
telegram_ef_channel: ... #  got by https://api.telegram.org/bot<BOT_TOKEN>/getUpdates
discord_token: ...
openai_api_key: ...
guild_name: Mark Lidenberg's server
